version: 2.1

orbs:
  yarn: artsy/yarn@5.1.3
  auto: artsy/auto@1.3.2

workflows:
  build_and_verify:
    jobs:
      - yarn/workflow-queue
      - yarn/update-cache:
          requires:
            - yarn/workflow-queue
      - yarn/lint:
          requires:
            - yarn/workflow-queue
      - yarn/type-check:
          requires:
            - yarn/workflow-queue
      - yarn/test:
          requires:
            - yarn/workflow-queue
      - yarn/run:
          name: visual-test
          script: visual-test
          requires:
            - yarn/workflow-queue
          filters:
            branches:
              ignore: master
      - yarn/run:
          name: visual-test-master
          script: visual-test --auto-accept-changes
          requires:
            - yarn/workflow-queue
          filters:
            branches:
              only: master
      - auto/publish-canary:
          context: npm-deploy
          filters:
            branches:
              ignore: master
          requires:
            - yarn/test
            - yarn/lint
            - yarn/type-check
            - yarn/update-cache
      - auto/publish:
          context: npm-deploy
          filters:
            branches:
              only: master
          requires:
            - yarn/test
            - yarn/lint
            - yarn/type-check
            - yarn/update-cache
      - yarn/run:
          name: deploy-docs
          script: deploy-docs
          context: palette-docs-upload
          requires:
            - auto/publish
          filters:
            branches:
              only: master
